{% extends "base.html" %} {% block content %}

<section class="page-header">
  <h1>Alle Fragen mit Erklärungen</h1>
  <p>Hier kannst du alle gespeicherten Fragen ansehen und gezielt nachlesen.</p>
</section>

<section class="question-list">
  {% for q in questions %}
  <div class="question-card">
    <p class="badge">{{ q[9] }}</p>
    <h2>{{ q[1] }}</h2>
    <p><strong>Richtige Lösung:</strong> {{ q[7] }}</p>
    <p class="explanation-small">{{ q[8] }}</p>
  </div>
  {% endfor %}
</section>

{% endblock %}
