{% extends "base.html" %} {% block content %}

<section class="page-header">
  <h1>Impressum</h1>
</section>

<section class="question-card">
  <p><strong>Angaben gemäß § 5 TMG</strong></p>

  <p>
    Jennifer Rösner<br />
    Zur Melkerei 21 A<br />
    66849 Landstuhl<br />
    Deutschland
  </p>

  <p>
    <strong>Kontakt:</strong><br />
    E-Mail: jenniferroesner85@yahoo.com
  </p>

  <h2>Haftung für Inhalte</h2>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine
    Gewähr übernommen werden.
  </p>

  <h2>Haftung für Links</h2>
  <p>Diese Website enthält keine externen Links zu fremden Inhalten.</p>

  <h2>Urheberrecht</h2>
  <p>
    Die durch die Seitenbetreiberin erstellten Inhalte und Werke auf diesen
    Seiten unterliegen dem deutschen Urheberrecht.
  </p>
</section>

{% endblock %}
